<div id="about">
	<div class="row">
		<div class="small-8 small-centered medium-uncentered medium-4 columns about">
			<%= image_tag('profile_picture.png', id: "profile_picture", alt: 'Ryan O\'Connor') %>
		</div>

		<div class="small-12 medium-8 columns">
			<div class="medium-pull-3 columns">
				<h2 id="about_header" class="about text-center">About Me</h2>
			</div>

			<p class="about_text">
				Hi, my name is Ryan O'Connor and I have just completed my 3rd year of software engineering at the University of Ottawa. I was first introduced to coding during my Visual Basic programming class back in high school. Ever since then I haven't looked back. After discovering how rewarding it is to solve a problem using code, I knew what I wanted to pursue as a career.
			</p>
			<p class="about_text">
				Currently I am the VP Academic of the <%= link_to "Software Engineering Student Association", "http://uottawa-sesa.ca" %> where I help organize weekly Ruby on Rails tutorials, study sessions, and monthly coding events for students. When I'm taking a break from coding and helping others, I like to go skating, snowmobiling, or enjoying my time out on the water.
			</p>
		</div>
	</div>
</div>

<div id="education">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Education</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">University of Ottawa</h3>
			<p class="date">September 2012 - Current</p>
		</div>

		<div class="small-12 medium-8 columns">
			<strong>BASc in Software Engineering</strong>
			<p>
				My studies at the University of Ottawa have allowed me to develop strong design skills by using requirements engineering techniques, analysis level diagrams, and design level diagrams. I've also learned how to translate requirements and diagrams into quality software. Java has been used as the main programming language for learning, however I've also had the opportunity to use HTML, CSS, SQL, and Ruby.
			</p>
		</div>
	</div>
</div>

<div id="experience">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Experience</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">Bell Canada</h3>
			<p class="date">June 2014 - August 2014</p>
		</div>

		<div class="small-12 medium-8 columns">
			<strong>VoIP Manager - Service Assurance and Development</strong>
			<p>
				At Bell Canada I provided quality assurance for Bell's VoIP platform. I aided customers with validation testing and verified that their results were as expected by analyzing SIP traces using Wireshark. I was also part of testing for new version releases and helped with diagnosing system failures. During my time working at Bell Canada I implemented a call forwarding feature on FreeSwitch for internal release testing.
			</p>
		</div>
	</div>

	<div class="row paragraph">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">SigmaPoint Technologies</h3>
			<p class="date">May 2013 - August 2013</p>
		</div>

		<div class="small-12 medium-8 columns">
			<strong>Kontron Mechanic</strong>
			<p>
				SigmaPoint Technologies is an electronics manufacturer, where I worked as a Kontron mechanic. I assembled, diagnosed, and repaired CompactPCI boards and server boards. I worked under the Toyota Production System, used to provide quality products in a fast and efficient manner all while reducing waste.
			</p>
		</div>
	</div>
</div>

<div id="skills">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Skills</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-6 medium-centered columns">
			<table>
				<tr>
					<td class="column1"><%= link_to image_tag('Java-shadow.png', class: 'skill_logo', id: 'Java', alt: 'Java'), "https://www.java.com/en/" %></td>
					<td class="column2">Java</td>

					<td class="column3"><%= link_to image_tag('eclipse-shadow.png', class: 'skill_logo', id: 'Eclipse', alt: 'Eclipse'), "https://eclipse.org" %></td>
					<td class="column4">Eclipse</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('HTML5-shadow.png', class: 'skill_logo', id: 'HTML', alt: 'HTML'), "http://www.w3.org" %></td>
					<td class="column2">HTML</td>

					<td class="column3"><%= link_to image_tag('Netbeans-shadow.png', class: 'skill_logo', id: 'Netbeans', alt: 'Netbeans'), "https://netbeans.org" %></td>
					<td class="column4">Netbeans</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('css-shadow.png', class: 'skill_logo', id: 'CSS', alt: 'CSS'), "http://www.w3.org" %></td>
					<td class="column2">CSS</td>

					<td class="column3"><%= link_to image_tag('Git-shadow.png', class: 'skill_logo', id: 'Git', alt: 'Git'), "http://git-scm.com"%></td>
					<td class="column4">Git</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('ruby-shadow.png', class: 'skill_logo', id: 'Ruby', alt: 'Ruby'), "https://www.ruby-lang.org/en/" %></td>
					<td class="column2">Ruby</td>

					<td class="column3"><%= link_to image_tag('android-sdk-shadow.png', class: 'skill_logo', id: 'Android-Sdk', alt: 'Android SDK'), "http://developer.android.com/index.html"%></td>
					<td class="column4">Android SDK</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('PostgreSQL-shadow.png', class: 'skill_logo', id: 'PostgreSQL', alt: 'PostgreSQL'), "http://www.postgresql.org" %></td>
					<td class="column2">PostgreSQL</td>

					<td class="column3"><%= link_to image_tag('linux-shadow.png', class: 'skill_logo', id: 'Linux', alt: 'Linux Tux'), "http://www.linuxfoundation.org"%></td>
					<td class="column4">Linux</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('RoR-shadow.png', class: 'skill_logo', id: 'RoR', alt: 'Ruby on Rails'), "http://rubyonrails.org" %></td>
					<td class="column2">Ruby on Rails</td>

					<td class="column3"><%= link_to image_tag('wireshark-shadow.png', class: 'skill_logo', id: 'Wireshark', alt: 'Wireshark'), "https://www.wireshark.org" %></td>
					<td class="column4">Wireshark</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('foundation-shadow.png', class: 'skill_logo', id: 'Foundation', alt: 'Foundation'), "http://foundation.zurb.com"%></td>
					<td class="column2">Foundation</td>

					<td class="column3"><%= link_to image_tag('freeswitch-shadow.png', id: 'freeswitch', alt: 'FreeSwitch'), "https://freeswitch.org" %></td>
					<td class="column4">FreeSwitch</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('bootstrap-shadow.png', class: 'skill_logo', id: 'Bootstrap', alt: 'Bootstrap'), "http://getbootstrap.com"%></td>
					<td class="column2">Bootstrap</td>

					<td class="column3"><%= link_to image_tag('heroku-shadow.png', class: 'skill_logo', id: 'Heroku', alt: 'Heroku'), "https://www.heroku.com" %></td>
					<td class="column4">Heroku</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('Java-shadow.png', class: 'skill_logo', id: 'Java_EE', alt: 'Java EE'), "https://www.java.com/en/" %></td>
					<td class="column2">Java EE</td>

					<td class="column3"><%= image_tag 'Hardware-shadow.png', class: 'skill_logo', id: 'Hardware', alt: 'Hardware' %></td>
					<td class="column4">Hardware</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<div id="projects">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Projects</h2>
		</div>
	</div>


	<div class="row">
		<div class="medium-6 medium-push-6 small-12 columns">
			<h3 class="subheaders project_header">Property Rental System</h3>
			<p>Built using Ruby on Rails and Foundation 5, this application was build as a final project for Software Design and Architecture in collaboration with <%= link_to "Craig Bryan", "http://www.craigbryan.me/" %>, and <%= link_to "Katarina Drobnjakovic", 'http://katarina.rocks/' %>. Beary Best Rentals is a property rental system. It allows customers to search for property rentals provided by other Beary Best Rental users.</p>
		</div>

		<div class="medium-6 medium-pull-6 small-12 columns">
			<%= link_to image_tag('BearyBestRentals.jpg', class: 'project_image', id: 'beary', alt: 'Beary Best Rentals'), "https://bearybestrentals.herokuapp.com" %>
		</div>
	</div>

	<div id="binary_converter" class="row">
		<div class="small-12 medium-6 columns">
			<h3 class="subheaders project_header">Binary Converter</h3>
			<p>Binary Converter is a simple Android application I built during the summer of 2014. This was my first experience building a mobile application. While building the application I learned about layouts, Android Debug Bridge (ABD), and the general ins and outs of Android development.</p>
		</div>

		<div class="small-12 medium-6 columns">
			<%= link_to image_tag('Binary_converter.png', class: 'project_image', id: 'binary_screens', alt: 'Binary Converter'), "https://play.google.com/store/apps/details?id=com.Charle692.BinaryConverter" %>
		</div>
	</div>
</div>
