<div id="about">
	<div class="row">
		<div class="small-8 small-centered medium-uncentered medium-4 columns about">
			<%= image_tag('profile_picture.png', id: "profile_picture", alt: 'Ryan O\'Connor') %>
		</div>

		<div class="small-12 medium-8 columns">
			<h2 id="about_header" class="about">A Little About me</h2>
			<p id="about_text">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
				tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
				quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
				consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
				cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
				proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>

<div id="education">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Education</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">University of Ottawa</h3>
			<small class="date">September 2012 - Current</small>
		</div>

		<div class="small-12 medium-8 columns">
			<strong>BASc in Software Engineering</strong>
			<p>
				My studies at the University of Ottawa have allowed me to develop strong design skills, by using requirements engineering techniques, analysis level diagrams and design level diagrams. I've also learned how to translate requirements and diagrams into a quality software system. Java has been used as the main programming language for learning, as well as HTML/CSS, SQL, and Ruby.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">Charlottenburg D.H.S.</h3>
			<small class="date">September 2009 - June 2012</small>
		</div>

		<div class="small-12 medium-8 columns">
			<p>
				I graduated from a small high school of about 300 people, where I earned my bilingualism certificate. In  11th grade, I decided to take a programming course where we learned the beginnings of Visual Basic. I loved programming so much that I decided to continue with programming taking a 12th grade Java programming course which was the deciding factor in pursuing Software Engineering as a post secondary study.
			</p>
		</div>
	</div>
</div>

<div id="experience">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Experience</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">Bell Canada</h3>
			<small class="date">June 2014 - August 2014</small>
		</div>

		<div class="small-12 medium-8 columns">
			<strong>VoIP Manager - Service Assurance and Development</strong>
			<p>
				At Bell Canada I  provided quality assurance for Bell's VoIP platform. I aided customers with validation testing, and verified that their results were as expected by analyzing SIP traces using Wireshark. I was also part of testing for new version releases and aided with diagnosing system outages. During my time working at Bell Canada I implemented a call forwarding feature on FreeSwitch for internal release testing.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">SigmaPoint Technologies</h3>
			<small class="date">May 2013 - August 2013</small>
		</div>

		<div class="small-12 medium-8 columns">
			<strong>Kontron Mechanic</strong>
			<p>
				SigmaPoint Technologies is an electronics manufacturer where I worked as a Kontron mechanic. I assembled CompactPCI boards and server boards. I worked under the Toyota Production System, used by SigmaPoint to provide quality products in a fast and efficient manner all while reducing waste.
			</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 medium-4 columns">
			<h3 class="subheaders">Tim Hortons</h3>
			<small class="date">September 2010 - August 2012</small>
		</div>

		<div class="small-12 medium-8 columns">
			<strong>Drive-Through Team Member</strong>
			<p>
				While working at Tim Hortons, I was part of the drive-through team providing customers with fast quality service. I dealt with any customer concerns that came to my attention as professionally as possible. At Tim Hortons I developed strong communication skills as my primary function was taking drive-through orders.
			</p>
		</div>
	</div>
</div>

<!-- For on page scrolling -->
<div id="skills">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Skills</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-6 medium-3 push-3 columns">
			<table>
				<tr>
					<td class="icon2"><%= link_to image_tag('Java-shadow.png', class: 'skill_logo', id: 'Java', alt: 'Java'), "https://www.java.com/en/" %></td>
					<td>Java</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('HTML5-shadow.png', class: 'skill_logo', id: 'HTML', alt: 'HTML'), "http://www.w3.org" %></td>
					<td>HTML</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('css-shadow.png', class: 'skill_logo', id: 'CSS', alt: 'CSS'), "http://www.w3.org" %></td>
					<td>CSS</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('ruby-shadow.png', class: 'skill_logo', id: 'Ruby', alt: 'Ruby'), "https://www.ruby-lang.org/en/" %></td>
					<td>Ruby</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('PostgreSQL-shadow.png', class: 'skill_logo', id: 'PostgreSQL', alt: 'PostgreSQL'), "http://www.postgresql.org" %></td>
					<td>PostgreSQL</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('RoR-shadow.png', class: 'skill_logo', id: 'RoR', alt: 'Ruby on Rails'), "http://rubyonrails.org" %></td>
					<td>Ruby on Rails</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('foundation-shadow.png', class: 'skill_logo', id: 'Foundation', alt: 'Foundation'), "http://foundation.zurb.com"%></td>
					<td>Foundation</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('bootstrap-shadow.png', class: 'skill_logo', id: 'Bootstrap', alt: 'Bootstrap'), "http://getbootstrap.com"%></td>
					<td>Bootstrap</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('Java-shadow.png', class: 'skill_logo', id: 'Java EE', alt: 'Java EE'), "https://www.java.com/en/" %></td>
					<td>Java EE</td>
				</tr>
			</table>
		</div>

		<div class="small-6 medium-3 pull-2 columns">
			<table>
				<tr class="row_height">
					<td class="icon2"><%= link_to image_tag('eclipse-shadow.png', class: 'skill_logo', id: 'Eclipse', alt: 'Eclipse'), "https://eclipse.org" %></td>
					<td>Eclipse</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('Netbeans-shadow.png', class: 'skill_logo', id: 'Netbeans', alt: 'Netbeans'), "https://netbeans.org" %></td>
					<td>Netbeans</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('Git-shadow.png', class: 'skill_logo', id: 'Git', alt: 'Git'), "http://git-scm.com"%></td>
					<td>Git</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('android-sdk-shadow.png', class: 'skill_logo', id: 'Android-Sdk', alt: 'Android SDK'), "http://developer.android.com/index.html"%></td>
					<td>Android SDK</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('linux-shadow.png', class: 'skill_logo', id: 'Linux', alt: 'Linux Tux'), "http://www.linuxfoundation.org"%></td>
					<td>Linux</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('wireshark-shadow.png', class: 'skill_logo', id: 'Wireshark', alt: 'Wireshark'), "https://www.wireshark.org" %></td>
					<td>Wireshark</td>
				</tr>
				<tr>
					<td><%= link_to image_tag('freeswitch-shadow.png', id: 'freeswitch', alt: 'FreeSwitch'), "https://freeswitch.org" %></td>
					<td>FreeSwitch</td>
				</tr>

				<tr>
					<td><%= link_to image_tag('heroku-shadow.png', class: 'skill_logo', id: 'Heroku', alt: 'Heroku'), "https://www.heroku.com" %></td>
					<td>Heroku</td>
				</tr>

				<tr>
					<td><%= image_tag 'Hardware-shadow.png', class: 'skill_logo', id: 'Hardware', alt: 'Hardware' %></td>
					<td>Hardware</td>
				</tr>
			</table>
		</div>
	</div>
</div>

<!-- For on page scrolling -->
<div id="projects">
	<div class="subtitle">
		<div class="row">
			<h2 class="text-center">Projects</h2>
		</div>
	</div>

	<div class="row">
		<div class="small-12 small-centered medium-12 medium-push-3 columns">
			<h3 class="subheaders">Property Rental System</h3>
		</div>
	</div>

	<div class="row">
		<div class="small-4 medium-3 columns">
			<%= link_to image_tag('BearyBestRentals.png', class: 'project_image', alt: 'Beary Best Rentals'), "https://bearybestrentals.herokuapp.com" %>
		</div>

		<div class="small-8 medium-9 columns">
			<p>Built using Ruby on Rails and Foundation 5, this application was build as a final project for SEG 3102 in collaboration with Craig Bryan, and Kat Drobnjakovic. Beary Best Rentals is a property rental system. It allows owners to rent out their properties, and customers to rent available properties based on given criteria.</p>
		</div>
	</div>

	<div class="row">
		<div class="small-12 small-centered medium-12 medium-push-3 columns">
			<h3 class="subheaders">Binary Converter</h3>
		</div>
	</div>

	<div class="row">
		<div class="small-4 medium-2 columns">
			<%= link_to image_tag('BinaryConverter.png', size: '150x150', id: 'binary_converter_image', alt: 'Binary Converter'), "https://play.google.com/store/apps/details?id=com.Charle692.BinaryConverter" %>
		</div>
		<div class="small-8 medium-9 columns" id="binary_converter">
			<p>Binary Converter is a simple Android application I built during the summer of 2014. This was my first experience building a mobile application. While building the application I learned about layouts, Android Debug Bridge (abd), and the general ins and outs of Android development</p>
		</div>
	</div>
</div>
