<div class="row">
	<div class="small-12 medium-4 columns">
		<%= image_tag('profile_picture.png', id: "profile_picture", alt: 'Ryan O\'Connor') %>
	</div>

	<h2 class="text-center" id="about">A Little About me</h2>

	<div class="small-12 medium-8 columns">	
		<p>
			Something about me that
			I will be putting in later. Need to mention Software Engineering Student Associations
		</p>
	</div>
</div>

<div class="row">
	<div class="push-2">
		<h2 class="text-center">Education</h2>	
	</div>
</div>

<div class="row">	
	<div class="small-12 medium-4 columns">		
		<h3 class="subheaders">University of Ottawa</h3>
		<small class="date">September 2012 - Current</small>
	</div>

	<div class="small-12 medium-8 columns">
		<p>
			My studies at the University of Ottawa have allowed me to develop strong design skills, by using requirements engineering techniques, analysis level diagrams and design level diagrams. I've also learned how to translate requirements and diagrams into a quality software system. Java has been used as the main programming language for learning, as well as HTML/CSS, SQL, and Ruby.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-4 columns">
		<h3 class="subheaders">Charlottenburg D.H.S.</h3>
		<small class="date">September 2009 - June 2012</small>
	</div>

	<div class="small-12 medium-8 columns">
		<p>
			I graduated from a small high school of about 300 people, where I earned my bilingualism certificate. In  11th grade, I decided to take a programming course where we learned the beginnings of Visual Basic. I loved programming so much that I decided to continue with programming taking a 12th grade Java programming course which was the deciding factor in pursuing Software Engineering as a post secondary study. 
		</p>
	</div>
</div>

<div class="row">	
	<div class="push-2">	
		<h2 class="text-center">Experience</h2>
 	</div>
</div>

<div class="row">
	<div class="small-12 medium-4 columns">
		<h3 class="subheaders">Bell Canada</h3>
		<small class="date">June 2014 - August 2014</small>
	</div>

	<div class="small-12 medium-8 columns">		
		<p>
			At Bell Canada I  provided quality assurance for Bell's VoIP platform. I aided customers with validation testing, and verified that their results were as expected by analyzing SIP traces using Wireshark. I was also part of testing for new version releases and aided with diagnosing system outages. During my time working at Bell Canada I implemented a call forwarding feature on FreeSwitch for internal release testing.
		</p>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-4 columns">	
		<h3 class="subheaders">SigmaPoint Technologies</h3>
		<small class="date">May 2013 - August 2013</small>
	</div>

	<div class="small-12 medium-8 columns">	
		<p>
			SigmaPoint Technologies is an electronics manufacturer where I worked as a Kontron mechanic. I assembled CompactPCI boards and server boards. I worked under the Toyota Production System, used by SigmaPoint to provide quality products in a fast and efficient manner all while reducing waste.
		</p>
	</div>
</div>

<div class="row">	
	<div class="small-12 medium-4 columns">	
		<h3 class="subheaders">Tim Hortons</h3>
		<small class="date">September 2010 - August 2012</small>
	</div>

	<div class="small-12 medium-8 columns">	
		<p>
			While working at Tim Hortons, I was part of the drive-through team providing customers with fast quality service. I dealt with any customer concerns that came to my attention as professionally as possible. At Tim Hortons I developed strong communication skills as my primary function was taking drive-through orders.
		</p>
	</div>
</div>

<div class="row">
	<div class="push-2">
		<h2 class="text-center">Skills</h2>	
	</div>
</div>

<div class="row">
	<div class="small-12 medium-6 columns">	
		<table>
			<thead>
				<tr>
					<th>Skill</th>
					<th>Experience</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= image_tag('Java.png', class: 'skill_logo', alt: 'Java') %></td>
					<td>Java</td>
					<td>4 years</td>
				</tr>
				<tr>
					<td><%= image_tag('HTML5.png', class: 'skill_logo', alt: 'HTML') %></td>
					<td>HTML</td>
					<td>1 year</td>
				</tr>
				<tr>
					<td><%= image_tag('css.png', class: 'skill_logo', alt: 'CSS') %></td>
					<td>CSS</td>
					<td>1 year</td>
				</tr>
				<tr>
					<td><%= image_tag('ruby.png', class: 'skill_logo', alt: 'Ruby') %></td>
					<td>Ruby</td>
					<td>1 year</td>
				</tr>
				<tr>
					<td><%= image_tag('PostgreSQL.png', class: 'skill_logo', alt: 'PostrgreSQL') %></td>
					<td>PostrgreSQL</td>
					<td>5 months</td>
				</tr>
				<tr>
					<td><%= image_tag('go.png', class: 'skill_logo', alt: 'Go') %></td>
					<td>Go</td>
					<td>1 month</td>
				</tr>
				<tr>
					<td><%= image_tag('RoR.png', class: 'skill_logo', alt: 'Ruby on Rails') %></td>
					<td>Ruby on Rails</td>
					<td>1 year</td>
				</tr>
				<tr>
					<td><%= image_tag('foundation.png', class: 'skill_logo', alt: 'Foundation') %></td>
					<td>Foundation</td>
					<td>5 months</td>
				</tr>
				<tr>
					<td><%= image_tag('bootstrap.png', class: 'skill_logo', alt: 'Bootstrap') %></td>
					<td>Bootstrap</td>
					<td>5 months</td>
				</tr>
				<tr>
					<td><%= image_tag('Java.png', class: 'skill_logo', alt: 'Java') %></td>
					<td>Java EE</td>
					<td>4 months</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="small-12 medium-6 columns">	
		<table>
			<thead>
				<tr>
					<th>Tools</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><%= image_tag('eclipse.png', class: 'skill_logo', alt: 'Eclipse') %></td>
					<td>Eclipse</td>
				</tr>
				<tr>
					<td><%= image_tag('Netbeans.png', class: 'skill_logo', alt: 'Netbeans') %></td>
					<td>Netbeans</td>
				</tr>
				<tr>
					<td><%= image_tag('Git.png', class: 'skill_logo', alt: 'Git') %></td>
					<td>Git</td>
				</tr>
				<tr>
					<td><%= image_tag('android-sdk.png', class: 'skill_logo', alt: 'Android SDK') %></td>
					<td>Android SDK</td>
				</tr>
				<tr>
					<td><%= image_tag('linux.png', class: 'skill_logo', alt: 'Linux Tux') %></td>
					<td>Linux</td>
				</tr>
				<tr>
					<td><%= image_tag('wireshark.png', class: 'skill_logo', alt: 'Wireshark') %></td>
					<td>Wireshark</td>
				</tr>
				<tr>
					<td><%= image_tag('freeswitch.png', class: 'skill_logo', id: 'freeswitch', alt: 'FreeSwitch') %></td>
					<td>FreeSwitch</td>
				</tr>
				<tr>
					<td><%= image_tag('heroku.png', class: 'skill_logo', alt: 'Heroku') %></td>
					<td>Heroku</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">	
	<div class="push-2">	
		<h2 class="text-center">Projects</h2>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-4 columns">		
		<h3>Property Rental System</h3>
	</div>
	<div class="small-12 medium-8 columns">
		<p></p>
	</div>
</div>

<div class="row">
	<div class="small-12 medium-4 columns">		
		<h3>Binary Converter</h3>
	</div>
	<div class="small-12 medium-8 columns">
		<p></p>
	</div>
</div>
